@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 91px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}

/* added by collins */
.navbar-dark, .bg-dark {
  background-color: #01B8E2 !important;
}
.my-custom-nav-link {
  color: #fff !important;
  margin-right: 25px;
}
.my-custom-title {
  color: #01b8e2;
}
.my-custom-primary-button {
  background-color: #01B8E2;
  color: #fff;
  border: 1px solid #01B8E2;
  border-radius: 26px;
  padding: 8px 18px;
  font-size: 18px;
  width: 100%;
}
.my-custom-link {
  color: #333;
  text-decoration: none;
}
.my-custom-link:hover {
  color: #333;
}
form small {
  font-size: 12px;
}
.my-custom-primary-web-button {
  background-color: #01B8E2;
  color: #fff;
  border: 1px solid #01B8E2;
  border-radius: 26px;
  padding: 8px 18px;
  margin: 10px 5px;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  width: 240px;
  text-align: center;
}
.my-custom-primary-web-button:hover {
  color: #fff;
  text-decoration: none;
}
.my-custom-secondary-web-button {
  background-color: #c5c5c5;
  color: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 26px;
  padding: 8px 18px;
  margin: 10px 5px;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  width: 240px;
  text-align: center;
}
.my-custom-secondary-web-button:hover {
  color: #fff;
  text-decoration: none;
}
#main-body {
  min-height: 525px;
}
footer {
  background-color: #01b8e2;
  margin-top: 100px;
  padding: 50px;
}
.footer {
  margin-top: 100px;
  border-top:  1px dotted #333;
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 14px;
}
.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.footer-link:hover {
  color: #fff;
  text-decoration: underline;
}
.footer-credit {
  margin-top: 20px;
  border-top: 1px dotted #fff;
  padding-top: 30px;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.footer-credit a:link {
  color: #fff;
}
.main-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #055A6B;
  margin: 5px;
  border-radius: 22px;
  padding: 20px;
  min-height: 150px;
  color: #fff;
}
.main-item-1 {
  background-image: url("/images/license-duration-background.png");
}
.main-item-2 {
  background-image: url("/images/license-status-background.png");
}
.main-item-3 {
  background-image: url("/images/registered-rpas-background.png");
}
.main-value {
  font-size: 36px;
  font-weight: 500;
}
.main-description {
  font-size: 18px;
}
form.small-form input, form.small-form select, form.small-form textarea {
  font-size: 14px;
  padding: 15px 20px;
}
#acc-types a {
  text-decoration: none;
  color: #333;
  text-align: center;
}
.acc-type {
  margin: 25px 5px;
  border: 5px solid #35CEFC;
  border-radius: 16px;
  padding: 40px 20px;
}
.acc-type h2 {
  color: #35CEFC;
}
.acc-type p {
  padding-top: 10px;
  font-size: 14px;
}
.acc-type img {
  width: 120px;
}
#safety-form .form-check {
  padding: 7px 0 7px 30px;
  font-size: 18px;
}
.form-check label:hover{
  cursor: pointer;
}
.my-custom-primary-btn {
  background-color: #01B8E2;
  color: #fff;
  border: 1px solid #01B8E2;
  border-radius: 26px;
  padding: 8px 18px;
  margin: 10px 5px;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
}
.my-custom-primary-btn:hover {
  color: #fff;
  text-decoration: none;
}
.my-custom-secondary-btn {
  background-color: #c5c5c5;
  color: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 26px;
  padding: 8px 18px;
  margin: 10px 5px;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
}
.my-custom-secondary-btn:hover {
  color: #fff;
  text-decoration: none;
}
#welcome_box {
  margin: 30px 10px 10px 10px;
  border-radius: 18px;
  padding: 30px 20px 20px 20px;
  background-color: #f5f5f5;
}
#today {
  font-weight: 700;
}
#welcome_box p {
  font-size: 18px;
  font-weight: 500;
}