@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 91px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}

/* added by collins */
.navbar-dark, .bg-dark {
  background-color: #01B8E2 !important;
}
.my-custom-nav-link {
  color: #fff !important;
  margin-right: 25px;
}
.my-custom-title {
  color: #01b8e2;
}
.my-custom-primary-button {
  background-color: #01B8E2;
  color: #fff;
  border: 1px solid #01B8E2;
  border-radius: 26px;
  padding: 8px 18px;
  font-size: 18px;
  width: 100%;
}
.my-custom-link {
  color: #333;
  text-decoration: none;
}
.my-custom-link:hover {
  color: #333;
}
form small {
  font-size: 12px;
}
.my-custom-primary-web-button {
  background-color: #01B8E2;
  color: #fff;
  border: 1px solid #01B8E2;
  border-radius: 26px;
  padding: 8px 18px;
  margin: 10px 5px;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  width: 240px;
}
.my-custom-primary-web-button:hover {
  color: #fff;
  text-decoration: none;
}
.my-custom-secondary-web-button {
  background-color: #c5c5c5;
  color: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 26px;
  padding: 8px 18px;
  margin: 10px 5px;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  width: 240px;
}
.my-custom-secondary-web-button:hover {
  color: #fff;
  text-decoration: none;
}